<ul class = "recipe-list">
  <% @public_recipes.each do |recipe| %>
    <li>
      <div>
        <h2><%= link_to recipe.name, recipe_path(recipe) %></h2>
        <p>by <%= recipe.user.name %></p>
      </div>
      <div>
        <p>Total food items: <%= recipe.foods.count %></p>
        <p>Total price: <%= recipe.foods.sum(:price) %>$</p>
      </div>
    </li>
  <% end %>
</ul>
