<ul>
  <% @public_recipe.each do |recipe| %>
    <li>
      <div>
        <% @users.each do |user| %>
        <% if user.id == recipe.user_id %>
        <h2><%= recipe.name %></h2>
        <p>by <%= user.name %></p>
        <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
