<h1>Food List</h1>

<%= link_to 'Add Food', new_food_path %>
<div class="foods_table">
<ul class="flex">
    <li>Food</li>
    <li>Measuring Unit</li>
    <li>Unit Price</li>
    <li>Actions</li>
</ul>
<ul class="flex col">
<% @foods.each do |food| %>
<li class="flex">
    <p><%= food.name %></p>
    <p><%= food.measurement_unit %></p>
    <p><%= food.price %></p>
    <button>Delete</button>
</li>
<% end %>
</ul>
</div>
